body {
	font:0.8em Arial, sans-serief;
	color:#535353;
}

h1, ul{
	margin:0;
	padding:0;
}

.clear{
	clear: both;
}

#wrap {
	
	width:960px;
	height:100px;
	margin: 0 auto;
}

#header {
	margin-bottom:10px;
}

.backgroundcolor{
	background:#aaa;
}

#top_nav li:hover ul{
	display:block;
}

#top_nav{
	display:block;
	position:relative;
	background-image:{nav_normal.png};
	border: 1px solid rgb(200,150,0);
	font:bold 16px Sans-serif;
	height: 21px;
	width:960px;
	margin:0px auto;/*center the navigation bar*/
}

#top_nav ul{
	margin:0px;
	padding:0px;
}

#top_nav li{
	position:relative;
	float:left;
	list-style-type:none;
}

#top_nav ul:after{
	content:"."; /*add a full stop at the end of submenu */
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;/*hide full stop */
}

#top_nav li a{
	text-decoration:none;
	displayed:block;
	color:#535353;
	/*border-right:1px solid rgb(230,100,0); remove the verticle line between each item on menu bar*/
	padding:0px 25px; 
}

#top_nav ul ul {
	position:absolute;
	display:none;
	left:0px;	
	background-color: #d0b79e; /*rgb(250,150,0); hover menu background*/
}

#top_nav ul ul li{
	border:1px solid rgb(230,100,0);
	border-top: none;/*Remove the double border line in drop down menu */
	width:99%;
}

#top_nav ul ul li a{
	border-right:none;
	font:bold 14px Sans-serif;
}
#top_nav li a:hover{
	color:#6f1d32;
}

#top_nav li:hover{
	background-image:url(nav_hover.png);
}

#top_nav ul ul li:hover{
	background-image:none;
}

#content{	 
	width:690px;
	float:left;
	padding:10px;
}

#side{
	 
	width:229px;
	float:right;
	padding:10px;
	border-left:1px solid #aaa;
	min-height:300px;
}

#content{
	min-height:200px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover, a.selected{
	/*background:#ccc;*/
	text-decoration:none;
	color:#d3d4d4;
	font-size:1em;/*If increase size, it will cause Hobbies to drop to the next line */
}

a:visited{
	color:#895741;
}

.indent{
	margin:2em;
}

#footer{
	background:#aaa;
	color:#aaa;
}